
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>En Retro Music, tenés cuotas sin interés con tarjetas Visa y Mastercard o un 10% off en efectivo. ¡Siempre estamos pensando en vos!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Retro Music tenés envíos gratis en todos nuestros vinilos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Retro Music, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
				<div>
					<article class="footer-data">
						<p>Contactanos: </p>
						<p>bgrondona@udesa.edu.ar, jghiorivas@udesa.edu.ar, thartenstein@udesa.edu.ar</p>
					</article>
				</div>
				
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>	
</html>