<%- include('./partials/head.ejs')%> <!--Head-->
<body>
	<%- include('./partials/header.ejs')%> <!--Header-->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
                <i>
                    <form action="/users/login" method="POST" >

                        <div> <input type="email" name="email" placeholder="Escriba su usuario"></div>

                        <div> <input type="password" name="password" placeholder="Escriba su contraseña"></div>

                        <div> <input type="checkbox" name="recordarme" placeholder="Recordarme en esta página">Recordarme en esta página</div>

						<div><input type="submit" value="Ingresar"></div>


                    </form>
                </i>

			</h2>
			<!--<p><% if (locals.error!= undefined) { %> 
				<%= error.message %>
			<% } %></p> -->

        <%- include('./partials/footer.ejs')%> <!--Footer-->
</body>

</html>