<%- include('./partials/head.ejs')%> <!--Head-->

<body>
	<%- include('./partials/header.ejs')%> 	<!-- Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
                <i> 
                    <form action="/productos/productAdd" method="GET">

                        <div> <input type="file" name="image" placeholder="Imagen del producto" value=""></div>

                        <div> <input type="text" name="name" placeholder="Nombre del producto" value=""></div>

                        <div> <input type="text" name="Description" placeholder="Descripción del producto" value=""></div>

                        <div> <input type="date" name="fecha" placeholder="Fecha de carga del producto" value=""></div>

						<div><input type="submit" value="Agregar Producto"></div>
                    </form>

                </i>

			</h2>

		<%- include('./partials/footer.ejs')%> <!--Footer-->
</body>
</html>