 
<%- include('./partials/head.ejs')%> <!--Head-->
<body>
   
	<%- include('./partials/headerlogueado.ejs')%> <!--Header-->

    <form>
        <input name="username" placeholder="<%= infoUsuario.username %>">
    </form> 
    
	<%- includes('./partials/footer.ejs')%> <!--Footer-->
</body>
</html>

