<%- include('./partials/head.ejs')%> <!-- Head -->

<body>
	<%- include('./partials/header.ejs')%> <!-- Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
				<form action="/users/register" method="POST" >

					<div> <input type="email" name="email" placeholder="Email"> Escriba un email</div> 

					<div> <input type="text" name="username" placeholder="Usuario">Escriba un nombre de usuario</div>

					<div> <input type="text" name="password" placeholder="Contraseña">Escriba una contraseña</div>

					<div> <input type="date" name="fecha_de_nac" placeholder="">Escriba su fecha de nacimiento</div>

					<div> <input type="number" name="dni" placeholder="Dni">Escriba su nro de dni</div>

					<div> <input type="text" name="foto" placeholder="Foto de Perfil">Inserte una foto de perfil</div>

					<div><input type="submit" value="Registrarme"></div>
				</form>
			
			</i>
			</h2>

    <%- include('./partials/footer.ejs')%> <!-- Footer -->
</body>
</html>