<%- include('./partials/head.ejs')%> <!-- Head -->



<body>
	<%- include('./partials/header.ejs')%> <!-- Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			
			
			<h2 class="col-12"> 


			</h2>


    <%- include('./partials/footer.ejs')%> <!-- Footer -->

</body>
</html>